@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap');

$font-title: 'Bebas Neue', cursive;
$font-body: 'Lato', sans-serif;

body {
  font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-title;
  margin: 0;
  line-height: 1.4;
}

p,
li {
  font-size: 22px;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.container {
  padding: 80px 8%;
  max-width: 1400px;
  margin: auto;
}

header {
  display: none;
}